/* input {
    border: none;
} */
input:focus {
    outline: 0;
}

/* input:hover {
    text-decoration: none;
} */

textarea:focus {
    outline: 0;
}


a:hover {
    text-decoration: none;
}

#date-nav {
    font-size: 1.25rem;
}

textarea {
    height: fit-content;
}